/* html,body{
    height: 100%;
    width: 100%;
} */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 500px;
}

.btn1{
    display: inline-flex;
}

.graph_data{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.graph{
    text-align: center;
}