html,body{
    height: 100%;
    line-height: normal;
}

main{
    display: flex;
    height: auto;
    width: auto;
}

.form{
    width: 140px;
}

.graph_data{
    display: block;
    width: 100% - 140px;
}

.btn1{
    display: inline-flex;
}